<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :km_nbr %><br>
    <%= f.number_field :km_nbr %>
  </div>
  <div class="field">
    <%= f.label :tax_coef %><br>
    <%= f.number_field :tax_coef %>
  </div>
  <div class="field">
    <%= f.label :journey %><br>
    <%= f.number_field :journey %>
  </div>
  <div class="field">
    <%= f.label :departure %><br>
    <%= f.text_area :departure %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br>
    <%= f.text_area :arrival %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
