<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Reason</th>
      <th>Km nbr</th>
      <th>Tax coef</th>
      <th>Journey</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.date %></td>
        <td><%= list.reason %></td>
        <td><%= list.km_nbr %></td>
        <td><%= list.tax_coef %></td>
        <td><%= list.journey %></td>
        <td><%= list.departure %></td>
        <td><%= list.arrival %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
