<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @list.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @list.reason %>
</p>

<p>
  <strong>Km nbr:</strong>
  <%= @list.km_nbr %>
</p>

<p>
  <strong>Tax coef:</strong>
  <%= @list.tax_coef %>
</p>

<p>
  <strong>Journey:</strong>
  <%= @list.journey %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @list.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @list.arrival %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
